@font-face {
    font-family: 'Hyundai Sans Head Office Medium';
    src: url('../fonts/HyundaiSansHeadOffice-Medium.eot');
    src: url('../fonts/HyundaiSansHeadOffice-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HyundaiSansHeadOffice-Medium.woff') format('woff'),
    url('../fonts/HyundaiSansHeadOffice-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hyundai Sans Head Office Bold';
    src: url('../fonts/HyundaiSansHeadOffice-Bold.eot');
    src: url('../fonts/HyundaiSansHeadOffice-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HyundaiSansHeadOffice-Bold.woff') format('woff'),
    url('../fonts/HyundaiSansHeadOffice-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hyundai Sans Head Office Regular';
    src: url('../fonts/HyundaiSansHeadOffice-Regular.eot');
    src: url('../fonts/HyundaiSansHeadOffice-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HyundaiSansHeadOffice-Regular.woff') format('woff'),
    url('../fonts/HyundaiSansHeadOffice-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}