$blueB  : #013368;
$blueW  : #1B4886;
$gray   : #A8A9AD;
$black  : #1C222C;

$sansB: 'Hyundai Sans Head Office Bold';
$sansM: 'Hyundai Sans Head Office Medium';
$sansR: 'Hyundai Sans Head Office Regular';

$desktopL  : 1920px;
$desktop   : 1440px;
$notebook  : 1025px;
$tablet    : 769px;
$mobileB   : 481px;
$mobile    : 361px;


