include ../templates/bemto/bemto
include ../templates/header
include ../templates/footer


-
    const pageSettings = {
    title: '',
    useSocialMetaTags: false
    }

-const jv0 = 'javascript:void(0)';

block vars

doctype html
html(lang='ru')
    include ../templates/head

    body
        block content
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy9eQx5kMEARWLXqslJFeGxvIP-GrEG34&callback=initMap" async defer)
    script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
    script(src="./js/jquery.magnific-popup.js")
    script(src="./js/app.js")
